{% macro render_segment_hit(hit, group) -%}
  {% for context in hit['contexts'] %}
  <tr class="search-segment-hit" data-segment-id="{{ hit['segment_id'] }}">
    <td class="kwic-loc">
      <span class="lang-badge lang-{{ hit['language'] }}">{{ hit['language']|lang_label }}</span>
      {% if hit['page'] %}p.{{ hit['page'] }}{% elif hit['chapter'] %}{{ hit['chapter']|truncate(12, true, '…') }}{% endif %}
    </td>
    <td class="kwic-left">{{ context['left'] }}</td>
    <td class="kwic-match"><a href="{% if group['is_multi_hit'] %}{{ url_for('read_edition', edition_id=hit['edition_id'], segment_id=hit['segment_id'], highlights=group['highlights_param'], search_q=group['search_query'], _anchor='segment-' ~ hit['segment_id']) }}{% else %}{{ url_for('read_edition', edition_id=hit['edition_id'], segment_id=hit['segment_id'], highlight=1, search_q=group['search_query'], _anchor='segment-' ~ hit['segment_id']) }}{% endif %}">{{ context['match'] }}</a></td>
    <td class="kwic-right">{{ context['right'] }}</td>
  </tr>
  {% endfor %}
{%- endmacro %}
<table class="kwic">
{% for group in chapter_groups %}
  <tbody class="search-chapter-group" data-chapter-key="{{ group['chapter_key'] }}">
    {{ render_segment_hit(group['primary_hit'], group) }}
  </tbody>
  {% if group['is_multi_hit'] %}
  <tbody class="search-chapter-additional" id="additional-{{ group['chapter_key'] }}" hidden>
    {% for hit in group['additional_hits'] %}{{ render_segment_hit(hit, group) }}{% endfor %}
  </tbody>
  <tbody class="search-chapter-controls">
    <tr class="search-chapter-toggle-row">
      <td class="search-chapter-toggle-cell" colspan="4">
        <button class="search-chapter-toggle" type="button"
                aria-expanded="false"
                aria-controls="additional-{{ group['chapter_key'] }}"
                data-expand-label="本章 {{ group['chapter_hit_count'] }} 处"
                data-collapse-label="收起本章">本章 {{ group['chapter_hit_count'] }} 处</button>
      </td>
    </tr>
  </tbody>
  {% endif %}
{% endfor %}
</table>
